&__close-button {
  border-radius: 20px;
  padding: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  transition: background 0.2s
  ease;
  top: 2px;

  &:hover {
    background: #565d64a8;
  }
}
