&__padding {
  padding: 8px;


  // not really for padding
  flex: 1;                /* inherit height from popover */
  display: flex;
  flex-direction: column;
  min-height: 0;          /* VERY important */
}
