&__path-input {
  background: #1f5a58;
  border-radius: 10px;
  padding: 2px;
  border: 1px solid rgba(255,255,255,0.05);
  position: relative;

  box-shadow: 0px 1px color(srgb 0.14 0.17 0.17), 0px -1px color(srgb 0.14 0.17 0.17), 1px 0px color(srgb 0.14 0.17 0.17), -1px 0px color(srgb 0.14 0.17 0.17), 0 0px 3px rgb(0 0 0 / 30%), inset 0 0 18px rgb(0 0 0 / 42%);
  //box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.55), 0 6px 18px rgba(0, 0, 0, 0.45);
//     box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.55), 0 0px 3px rgba(0, 0, 0, 0.45);
  // ** box-shadow: 0px 1px color(srgb 0.14 0.17 0.17), 0px -1px color(srgb 0.14 0.17 0.17), 1px 0px color(srgb 0.14 0.17 0.17), -1px 0px color(srgb 0.14 0.17 0.17), 0 0px 3px rgba(0, 0, 0, 0.3), inset 0 0 18px rgb(0 0 0 / 28%);
  //     box-shadow: 0px 1px color(srgb 0.14 0.17 0.17), 0px -1px color(srgb 0.14 0.17 0.17), 1px 0px color(srgb 0.14 0.17 0.17), -1px 0px color(srgb 0.14 0.17 0.17), 0 0px 3px rgba(0, 0, 0, 0.45), inset 0 0 18px rgba(0, 0, 0, 0.55);
  input {
    width: 100%;
    //padding: 20px;
    background: transparent;
    border: none;
    outline: none;  padding-block: 8px;
    background: #00000036;

    //font-size: 18px;
    //font-weight: 600;
    color: var(--text);
    caret-color: var(--text);
    border-radius: inherit;
    padding-right: 2rem;

    font-family: "Manrope", sans-serif;
    line-height: 0;

    position: relative;
    z-index: 10;
  }

  &-clear {
    background: transparent;
    border: none;
    position: absolute;
    right: 11px;
    top: 27%;
    cursor: pointer;
    z-index: 10;
  }
}
