@use '../variables' as *;

&__popover {
  position: fixed;
  z-index: $z-index-popover;

  font-family: 'Manrope', sans-serif;
  font-size: 12px;

  background: $color-bg-dark;
  border: 1px solid $color-border-dark;

  border-radius: $border-radius-lg;
  box-shadow: $shadow-md;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  /////////////////////////////////////////
  border: 1px solid rgba(34, 211, 238, 0.4);
  //box-shadow:
  //        0 0 0 1px rgba(34, 211, 238, 0.2),
  //        0 16px 35px rgba(15, 23, 42, 0.6),
  //        0 0 20px rgba(20, 184, 166, 0.2);
  /////////////////////////////////////////

  &__header {
    //margin-bottom: 8px;
  }

  &__content {
    display: flex; // Add this
    flex-direction: column; // Add this
    //height: calc(100% - 50px); // Adjust based on your header height
    //overflow: hidden; // Add this

    flex: 1;
    //display: flex;
    //flex-direction: column;
    min-height: 0;          /* REQUIRED for scrolling to work */
  }

  &__divider {
    background: color(srgb 0.0419 0.1474 0.1547);
    height: 1px;
    //margin-block: 4px;
    box-shadow: 0 1px color(srgb 0.1875 0.3531 0.351);
  }
}
