&__scrollable {
  width: 100%;
  overflow: auto;
  //height: 100%; // Add this
  box-sizing: border-box; // Add this for proper sizing
  border-radius: 14px;
  height: calc(100% - 50px);
  overflow-x: auto;   /* REQUIRED */
  overflow-y: auto;
}
