@use '../variables' as *;

&__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  //margin-inline: 5px;
  position: relative;

  &-input {
    font-family: $font-family;
    background: transparent;
    border: none;
    font-size: 12px;
    z-index: 10;
    position: relative;

    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 0;

    &::placeholder {
      color: $placeholder-color;
    }

    &__wrap {
      background: #0f2a2b;
      flex: 1;
      border-radius: 8px;
      padding: 2px;
      border: 1px solid #ffffff66;
      overflow: hidden;
      position: relative;

      &:focus-within {
        border-color: #ffd500;
        background: rgba(0, 0, 0, 0.35);

      }
    }
  }

  &-clear {
    background: rgb(255 255 255 / 20%);
    border: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
}

//box-shadow: 0 1px color(srgb 1 1 1 / 0.4), 0px -1px color(srgb 1 1 1 / 0.4), 1px 0px color(srgb 1 1 1 / 0.4), -1px 0px color(srgb 0.96 1 1 / 0.4), 0 0px 3px rgba(0, 0, 0, 0.3), inset 0 0 18px rgba(0, 0, 0, 0.42);
