@use '../animations' as *;

&__suggestion {
  //position: absolute;
  //z-index: 10;
  //width: 20rem;
  //display: flex;
  //flex-direction: column;
  //justify-self: center;
  //margin-top: 0.5rem;
  //background: #000000;
  background: rgb(0 0 0 / 14%);
  //background: #00000042;
  //border: 2px solid #3b3d42;
  border-radius: 12px;
  //box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-height: 320px;
  overflow-y: auto;


  //position: absolute;
  //top: calc(100% + 8px);
  //left: 0;
  //right: 0;
  //background: white;
  //border-radius: 16px;
  box-shadow: 0 12px 36px rgba(0,0,0,0.2);
  //max-height: 400px;
  //overflow-y: auto;
  //z-index: 1000;
  //display: none;

  &-active {
    display: block;
    animation: slideDown 0.3s ease;
  }


  &-item {
    font-size: 11px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    border-bottom: 0.1px solid #f0f0f069;
    display: flex;
    align-items: center;
    gap: 14px;
    //padding: 0.75rem 1rem;
    //cursor: pointer;
    //transition: background-color 0.15s;
    //border-bottom: 1px solid #3b3d42;
    //
    //&:hover {
    //  //background-color: #41464b;
    //  background: rgb(12 22 41 / 30%);
    //  //background: rgb(12, 22, 41);
    //
    //}
    //
    &--selected {
      //background-color: #eff6ff;
      //color: #1d4ed8;

      background: rgb(12, 22, 41);
      border-color: color(srgb 0.1991 0.3929 0.3733);
    }
  }

  &-path {
    //font-family: 'Consolas', 'Monaco', monospace;
    //font-size: 0.75rem;
    //margin-bottom: 0.25rem;
    //color: rgb(209, 154, 102);

    font-family: 'Monaco', monospace;
    font-weight: 600;
    //font-size: 14px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-value {
    font-size: 0.75rem;
    color: rgb(152, 195, 121);
    //color: #6b7280;
  }

  &-category {
    //padding: 12px 18px;
    //font-size: 12px;
    //font-weight: 700;
    text-transform: uppercase;
    //color: #999;
    background: #f8f9fa;
    letter-spacing: 0.5px;
    position: sticky;
    top: 0;
    z-index: 10;


    padding: 10px 18px;
    font-size: 11px;
    /* font-weight: 700; */
    //text-transform: uppercase;
    color: #ffecec;
    background: color(srgb 0.13 0.31 0.32);
    //letter-spacing: 0.5px;
    //position: sticky;
  }

  &-content {
    flex: 1;
    min-width: 0;
  }

  &-desc {
    font-size: 11px;
    opacity: 0.7;
  }

  &-icon {
    font-size: 20px;
    min-width: 20px;
    text-align: center;
  }

  &-type {
    padding: 3px 5px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 600;
    background: #e3f2fd;
    color: #1565c0;
    white-space: nowrap;
  }
}

