&__tab {
  //&-button {
    padding: 8px 18px;
    border: none;
    background: transparent;
    color: #b9d4d5;
    //font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: color(srgb 0.624 0.6842 0.6919);

    flex: 1;
    text-align: center;
    //
    &--active {
      color: white;
    }
    //  background: rgba(255, 255, 255, 0.18);
    //  color: #e8fefe;
    //  box-shadow:
    //          inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    //          0 2px 10px rgba(0, 0, 0, 0.25);
    //}

    //
    position: relative;
  //}
}

&__tabs {
  //&-wrapper {
  //  display: flex;
  //  background: rgba(255, 255, 255, 13%);
  //  //background: rgba(255, 255, 255, 0.05);
  //  padding: 6px;
  //  border-radius: 12px;
  //  backdrop-filter: blur(20px);
  //  -webkit-backdrop-filter: blur(20px);
  //}

  //&-wrapper {
    position: relative;
    display: flex;
    background: rgba(255, 255, 255, 0.13);
    //padding: 2px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    //overflow: hidden; // important so indicator clips cleanly
    //margin-bottom: 12px;

    //
    background: color(srgb 0.0853 0.2107 0.2135);
    box-shadow: inset 0 0 4px color(srgb 0.24 0.37 0.37 / 0.61);;
    border: 1px solid color(srgb 0.0719 0.163 0.1704);
  //}

  &-indicator {
    position: absolute;
    top: 3px;
    //left: 3px;
    bottom: 3px;
    //left: 3px;

    width: calc((100% - 12px) / 2); // auto width for 2 tabs (or dynamic below)
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.18);
    box-shadow:
            inset 0 0 0 1px rgba(255, 255, 255, 0.15),
            0 2px 10px rgba(0, 0, 0, 0.25);

    transition: transform 0.28s cubic-bezier(.2, .8, .3, 1);
    pointer-events: none;

    // If tabs are dynamic count:
    // width: calc((100% - (padding * 2)) / numberOfTabs);

    //
    background: color(srgb 0.1112 0.2583 0.2608);
    border-color: color(srgb 0.1991 0.3929 0.3733);
  }

}

&__sub-tabs {
  //padding-block: 12px;
  //border-bottom: 1px solid red;
  margin-block: 10px;
  border-bottom: solid 3px #fff;
  position: relative;
  //background: color(srgb 0.0419 0.1474 0.1547);
  //height: 1px;
  //margin-block: 6px;
  //box-shadow: 0 1px color(srgb 0.1875 0.3531 0.351);
  display: flex;

  &-indicator {
    position: absolute;
    background: #E9B226;
    transition: all ease-in-out 0.2s;
    width: 25%;
    height: 3px;
    bottom: -3px;
  }
}

&__sub-tab {
  flex: 1;
  text-align: center;
  padding-block: 8px;
  font-size: 12px;

  &--active {
    color: orange;
    transition: color ease-in-out 0.2s;
    font-weight: bold;

    //background: #00000029;
    border-radius: 50px;
    margin-bottom: 6px;
    //background: #0000003d;
  }
}
