@use '../variables' as *;
@use '../mixins' as *;

&__toggle {
  position: fixed;
  bottom: $toggle-bottom;
  right: $toggle-right;
  z-index: $z-index-toggle;

  width: $toggle-size;
  height: $toggle-size;
  border-radius: $border-radius-circle;

  background: $color-bg-dark;
  color: $color-text-dark;

  border: none;
  cursor: pointer;
  box-shadow: $shadow-sm;

  @include transition;
  @include flex-center;

  &:hover {
    transform: scale(1.1);
  }

  &--active {
    background: $color-danger;
  }
}
